<html> 
  <head> KICKSTARTER DUPLICATE </head> 
  <body>
  <p> 
    Thank you for signing up! 
    <br> 
    Create a project below: 
  <form action="/results" method="POST">
    Under which genre does your project fall under (art, film television, etc.)? 
    <input type="text" name="genre" placeholder="Genre">
    <br> 
    What would you like to call your project?
    <input type="text" name="title" placeholder="Project Title">
    <br> 
    How much money would you like to raise (in US dollars)?
    <input type="text" name="goal" placeholder="Goal">
    <br> 
    Please enter an image file or link to associate with your project below: 
    <input type="text" name="image_file" placeholder="Image">
    <br> 
    Please enter a description for your project
    <input type="text" name="description" placeholder="Description">
    <br> 
    Where is your project based in? 
    <input type="text" name="location" placeholder="Location">
    <br> 
    What is the duration of your project?
    <input type="text" name="duration" placeholder="Duration">     
    <input type="Submit">
    </form>
    
    </body>
  
</html>