  <!DOCTYPE html>
<html>
  <head>KICKSTARTER DUPLICATE  
  
  </head>
  <body>
    <font size ="6"><h1> Sign Up </h1></font>
    
    <form action="/signup" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="full_name" placeholder="Full Name">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="phone_number" placeholder="Phone Number">
    <input type="text" name="credit_card" placeholder="Credit Card">
    <input type="Submit">
    
  </form>
     <br><br>
    <center><img src="http://cdn.twitrcovers.com/wp-content/uploads/2013/04/Tower-Skyscrapers-l.jpg" width="2000" height="500" alt=""></center>
    
  </body>
</html
  